openapi: 3.2.0
info:
  title: Cycloid HTTP Config Repositories API
  description: The Cycloid HTTP API is the programmatic surface of the Cycloid Internal Developer Portal & Platform.
  version: '1.0'
  contact:
    name: Cycloid Support
    url: https://www.cycloid.io
    email: contact@cycloid.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://http-api.cycloid.io
  description: Cycloid production HTTP API
security:
- ApiKeyAuth: []
- OAuth2: []
tags:
- name: ConfigRepositories
  description: Git config repositories used by stacks and pipelines.
paths:
  /organizations/{organization_canonical}/config_repositories:
    get:
      tags:
      - ConfigRepositories
      summary: List config repositories
      operationId: listConfigRepositories
      parameters:
      - $ref: '#/components/parameters/OrganizationCanonical'
      responses:
        '200':
          description: Config repositories
components:
  parameters:
    OrganizationCanonical:
      name: organization_canonical
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://console.cycloid.io/oauth/authorize
          tokenUrl: https://http-api.cycloid.io/oauth/token
          refreshUrl: https://http-api.cycloid.io/oauth/refresh
          scopes:
            organization:read: Read organization data
            organization:write: Modify organization data
externalDocs:
  description: Cycloid API Documentation
  url: https://docs.cycloid.io
